In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: kaggle in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from opendatasets) (8.1.3)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: six>=1.10 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: python-dateutil in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (1.26.6)
Requirement already satisfied: bleach in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from bleach->kaggle->opendatasets) (21.3)
Requirement already satisfied: webencodings in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kaggle->opendatasets) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from packaging->bleach->kaggle->opendatasets) (2.4.7)

Install library opendataset untuk unduh dataset langsung dari kaggle

In [2]:
import opendatasets as od
import pandas as pd

Mengimport beberapa library sebagai pendukung program

In [3]:
od.download('https://www.kaggle.com/datasets/rashikrahmanpritom/groceries-dataset-for-market-basket-analysismba')

Skipping, found downloaded files in ".\groceries-dataset-for-market-basket-analysismba" (use force=True to force download)

Mengunduh data dari kaggle menggunakan link

In [4]:
df = pd.read_csv('groceries-dataset-for-market-basket-analysismba/Groceries data.csv')
df

,Member_number,Date,itemDescription,year,month,day,day_of_week
0,1808,2015-07-21,tropical fruit,2015,7,21,1
1,2552,2015-05-01,whole milk,2015,5,1,4
2,2300,2015-09-19,pip fruit,2015,9,19,5
3,1187,2015-12-12,other vegetables,2015,12,12,5
4,3037,2015-01-02,whole milk,2015,1,2,4
...,...,...,...,...,...,...,...
38760,4471,2014-08-10,sliced cheese,2014,8,10,6
38761,2022,2014-02-23,candy,2014,2,23,6
38762,1097,2014-04-16,cake bar,2014,4,16,2
38763,1510,2014-03-12,fruit/vegetable juice,2014,3,12,2
38764,1521,2014-12-26,cat food,2014,12,26,4

Membuat dataframe yang berisi dataset

In [5]:
columns_to_drop = ['year', 'month', 'day', 'day_of_week']
df.drop(columns=columns_to_drop, inplace=True)

Menghapus kolom yang tidak diperlukan

In [6]:
df

       Member_number        Date        itemDescription
0               1808  2015-07-21         tropical fruit
1               2552  2015-05-01             whole milk
2               2300  2015-09-19              pip fruit
3               1187  2015-12-12       other vegetables
4               3037  2015-01-02             whole milk
...              ...         ...                    ...
38760           4471  2014-08-10          sliced cheese
38761           2022  2014-02-23                  candy
38762           1097  2014-04-16               cake bar
38763           1510  2014-03-12  fruit/vegetable juice
38764           1521  2014-12-26               cat food

[38765 rows x 3 columns]

In [7]:
df['itemDescription'] = df['itemDescription'].str.lower()
df['itemDescription'] = df['itemDescription'].str.replace('/', ' ')

Mengubah isi kolom 'itemDescription' agar menggunakan huruf kecil dan menghilangkan '/'

In [8]:
nilai_ambigu = ['rum', 'specialty fat','misc. beverages', 'tidbits','liquor (appetizer)','liquor','ham', 'prosecco',
                'liver loaf', 'zwieback','oil', 'bottled beer', 'other vegetables','semi-finished bread',
                'flower (seeds)','roll products ']
nilai_pengganti = ['meat', 'egg', 'fish','milk', 'milk', 'fish','tea','liqueur','chicken', 'meat', 'cow liver',
                   'chicken','hotdog', 'sandwich', 'vegetables','egg','meat','meat']

# Lakukan penggantian berdasarkan pasangan nilai ambigu dan nilai pengganti
for i in range(len(nilai_ambigu)):
    df['itemDescription'] = df['itemDescription'].replace(nilai_ambigu[i], nilai_pengganti[i])

# Periksa nilai unik dalam kolom 'itemDescription' setelah penggantian
nilai_unik_setelah_penggantian = df['itemDescription'].unique()

Mengubah data nilai ambigu menjadi kata yang mudah dipahami

In [9]:
#MENAMBAHKAN KATEGORI
#Sayur dan BUah
keywords = ['tropical fruit','pip fruit','citrus fruit','packaged fruit vegetables','vegetables',
            'fruit vegetable juice','root vegetables','frozen vegetables','berries','grapes',
            'sparkling wine','canned fruit','frozen fruits','pickled vegetables','canned vegetables'
            ,'specialty vegetables','salad dressing']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Fruit & Vegetable'

In [10]:
#Daging
keywords = ['beef', 'chicken', 'hamburger meat', 'fish', 'frozen chicken', 'meat',
            'frozen meals', 'turkey', 'frozen fish', 'canned fish', 'meat spreads','cow liver']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Meat '

In [11]:
#MAKANAN DAN MINUMAN
keywords = ['whole milk', 'rolls buns', 'pot plants', 'chocolate', 'sausage', 'yogurt',
            'butter milk', 'brown bread', 'coffee', 'white wine', 'frankfurter', 'processed cheese',
            'pasta', 'dessert', 'UHT-milk', 'popcorn', 'frozen potato products', 'candy', 'domestic eggs',
            'instant food products', 'condensed milk', 'hard cheese', 'cream cheese', 'hotdog', 'pastry',
            'specialty bar', 'canned beer', 'specialty cheese', 'salt', 'curd cheese', 'red blush wine',
            'ice cream', 'tea', 'specialty chocolate', 'beverages', 'sandwich', 'nuts prunes', 'white bread',
            'salty snack', 'potato products', 'chewing gum', 'brandy', 'soups', 'instant coffee',
            'snack products', 'whisky', 'tidbits', 'nutsnack', 'cocoa drinks', 'syrup', 'honey',
            'jam', 'ready soups', 'cake bar', 'liqueur', 'seasonal products','milk','nut snack']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Food & Drink '

In [12]:
#ALAT
keywords = ['pork', 'detergent', 'bottled water', 'photo film', 'shopping bags', 'newspapers', 'cleaner',
            'dish cleaner', 'hairspray', 'decalcifier', 'light bulbs', 'cook ware', 'bathroom cleaner',
            'napkins', 'candles', 'kitchen utensil', 'toilet cleaner','cling film bags',
            'house keeping products','artif. sweetener','cookware']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Tools'

In [13]:
#Non food
keywords = ['soap', 'dog food', 'cat food', 'finished products', 'pet care', 'female sanitary products',
            'clingfilm bags', 'housekeeping products', 'hygiene articles', 'baby cosmetics', 'bags',
            'dental care', 'kitchen towels', 'flowersoil fertilizer', 'male cosmetics', 'dishes', 'skin care',
            'make up remover', 'flower seeds', 'organic products', 'rubbing alcohol', 'softener',
            'abrasive cleaner','hair spray','flower soil fertilizer']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Goods'

In [14]:
#bahan makanan
keywords = ['flour', 'sugar', 'herbs', 'curd', 'butter', 'onions', 'sliced cheese', 'whipped sour cream',
            'baking powder', 'spread cheese', 'frozen dessert', 'vinegar', 'artificialsweetener',
            'semi finished bread', 'waffles', 'sauces', 'chocolate marshmallow', 'long life bakery product',
            'sweets preads', 'spices', 'mustard', 'softcheese', 'organic sausage', 'mayonnaise', 'cereals',
            'cooking chocolate', 'rice', 'ketchup', 'cream', 'preservation products', 'pudding powder','soda',
            'egg','cream cheese ','margarine','soft cheese','sweet spreads']
lowercase_list = [x.lower() for x in keywords]
df.loc[df['itemDescription'].isin(lowercase_list), 'Category'] = 'Foodstuffs'

Menambahkan kolom baru bernama kategori untuk mengelompokkan barang agar mudah dikenali oleh mesin

In [15]:
missing_values = df[['Member_number', 'Date', 'itemDescription']].isnull().sum()

print("Missing values in Member_number:", missing_values['Member_number'])
print("Missing values in Date:", missing_values['Date'])
print("Missing values in itemDescription:", missing_values['itemDescription'])

Missing values in Member_number: 0
Missing values in Date: 0
Missing values in itemDescription: 0

Cek nilai miss pada data frame

In [16]:
df.head()

   Member_number        Date itemDescription           Category
0           1808  2015-07-21  tropical fruit  Fruit & Vegetable
1           2552  2015-05-01      whole milk      Food & Drink
2           2300  2015-09-19       pip fruit  Fruit & Vegetable
3           1187  2015-12-12          hotdog      Food & Drink
4           3037  2015-01-02      whole milk      Food & Drink

In [17]:
len(df.	Member_number.unique())

3898

In [18]:
print(df.isnull().sum())

Member_number      0
Date               0
itemDescription    0
Category           0
dtype: int64

In [19]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import pairwise_distances

Mengimport beberapa library sebagai pendukung program

In [20]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df["Category"])

Convert data pada kolom kategori ke dalam vector menggunakan library TfidVectorizer

In [21]:
tfidf_matrix.shape

(38765, 8)

Ukuran shape dari vector

In [22]:
print(tfidf_matrix)

  (0, 7)	0.7071067811865476
  (0, 3)	0.7071067811865476
  (1, 0)	0.7071067811865476
  (1, 1)	0.7071067811865476
  (2, 7)	0.7071067811865476
  (2, 3)	0.7071067811865476
  (3, 0)	0.7071067811865476
  (3, 1)	0.7071067811865476
  (4, 0)	0.7071067811865476
  (4, 1)	0.7071067811865476
  (5, 0)	0.7071067811865476
  (5, 1)	0.7071067811865476
  (6, 0)	0.7071067811865476
  (6, 1)	0.7071067811865476
  (7, 0)	0.7071067811865476
  (7, 1)	0.7071067811865476
  (8, 0)	0.7071067811865476
  (8, 1)	0.7071067811865476
  (9, 7)	0.7071067811865476
  (9, 3)	0.7071067811865476
  (10, 7)	0.7071067811865476
  (10, 3)	0.7071067811865476
  (11, 5)	1.0
  (12, 0)	0.7071067811865476
  (12, 1)	0.7071067811865476
  :	:
  (38748, 2)	1.0
  (38749, 0)	0.7071067811865476
  (38749, 1)	0.7071067811865476
  (38750, 2)	1.0
  (38751, 0)	0.7071067811865476
  (38751, 1)	0.7071067811865476
  (38752, 6)	1.0
  (38753, 2)	1.0
  (38754, 0)	0.7071067811865476
  (38754, 1)	0.7071067811865476
  (38755, 6)	1.0
  (38756, 7)	0.7071067811865476
  (38756, 3)	0.7071067811865476
  (38757, 0)	0.7071067811865476
  (38757, 1)	0.7071067811865476
  (38758, 2)	1.0
  (38759, 5)	1.0
  (38760, 2)	1.0
  (38761, 0)	0.7071067811865476
  (38761, 1)	0.7071067811865476
  (38762, 0)	0.7071067811865476
  (38762, 1)	0.7071067811865476
  (38763, 7)	0.7071067811865476
  (38763, 3)	0.7071067811865476
  (38764, 4)	1.0

Mengihtung tingkat kemiripan menggunakan librray cosine similarity

In [23]:
cosine_similarity = 1 - pairwise_distances(tfidf_matrix, metric="cosine")

Mengihtung tingkat kemiripan menggunakan librray cosine similarity

In [24]:
cosine_similarity.shape

(38765, 38765)

Menghasilkan shape baru dari cosine similarity

In [25]:
cs = pd.DataFrame(cosine_similarity)
cs

,0,1,2,3,4,5,6,7,8,9,...,38755,38756,38757,38758,38759,38760,38761,38762,38763,38764
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
38761,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
38762,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
38763,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Menampilkan hasil dari pemrosesan ke dalam tabel agar mudah memahami, mana nilai yang cocok dan mana yang tidak.
Terlihat bahwa beberapa bagian bernilai 1.0 artinya ada kemiripan

In [27]:
def recommend_product(title, cosine_similarity, df, top_n=5):
    idx = df[df['itemDescription'] == title].index[0]
    similar_animes = cosine_similarity[idx].argsort()[:-top_n-1:-1]
    similar_titles = df['itemDescription'].iloc[similar_animes]
    similar_genres = df['Category'].iloc[similar_animes]
    return similar_titles, similar_genres

membuat fungsi untuk menampilkan hasil rekomendasi dari kemiripan barang berdasarkan kategori

In [28]:
keyword = 'egg'
recommendation_title, recommendation_genre = recommend_product(keyword, cosine_similarity, df)

Mengaplikasikan fungsi dengan menggunakan parameter coba 'egg'

In [29]:
recommendations_df = pd.DataFrame({'Title': recommendation_title, 'Genres': recommendation_genre})
recommendations_df

                          Title      Genres
16921                      curd  Foodstuffs
31430  long life bakery product  Foodstuffs
31447                    sauces  Foodstuffs
21903            frozen dessert  Foodstuffs
12878                      soda  Foodstuffs

Hasilnya akan menampilkan barang berdasarkan kategori yang sama yaitu tentang bahan makanan